{{!-- Page Navigation Tabs --}}
<div class="container">
  <nav class="manual-page-nav mb-4">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link">Quickstart</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="prerequisites" class="nav-link">Prerequisites</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="frontend" class="nav-link">Frontend</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="backend" class="nav-link">Backend</LinkTo>
      </li>
    </ul>
  </nav>
</div>
